th {
    width: 10em;
    height: 6.5em;
    text-align: center;
    vertical-align: middle;
}

.Container {
    justify-content: center;
    display: flex;
    align-items: center;
}

.Table {
    border-spacing: 1em .5em;
    padding: 0 2em 1em 0;
    border: 1px solid gray;
    text-align: center;
    border-bottom: 1px solid gray;
}

.Header {
    justify-content: center;
    display: flex;
    align-items: center;
}